body {
    width: 100%;
    height: 100%;
    background-color: #b5d9e8;
}
.wrapper, .background {
    width: 100%;
    height: 100%;
}

.mybird {
    position: absolute;
    left: 30%;
    top: 20%;
}
.cloud2 {
    width: 32%;
}
#cloud1 {
    position: absolute;
    width: 400px;
    top: 0;
    left: 5%;

}
#cloud2{
    position: absolute;
    width: 300px;
    top: 20%;
    left: 70%;
}
#bird1{
    position: absolute;
    width: 224px;
    top: 50%;
    left: 60%;
}
#bird2{
    position: absolute;
    width: 36%;
    /* height: 116%; */
    height: 78%;
    left: -1%;
    top: 0%;
}
.duck {
    width: 50%;
    padding: 16%;}